///// Descriptive color variables

$white         : #fff;
$linear-blue    : #2395ff;
$linear-purple  : #5714cc;
$dark-blue      : #073f99;

////// Functional color variables

$text-color               : $white;
$top-background-color     : $linear-purple;
$bottom-background-color  : $linear-blue;
$secondary-color          : $dark-blue;